.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 12.5%;
    height: 12.5%;
}

.board-square {
    width: 100%;
    height: 100%
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-container {
    width: 600px;
    height: 600px;
}

.piece-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
}

.square-black {
    background: #B59963
}

.square-white {
    background: #F0D9B5
}

.promote-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.promote-piece {
    cursor: pointer;
    width: 50%;
    height: 50%;  
    display: flex; 
    align-items: center;
    justify-content: center;
}


.text {
    font-family: sans-serif;
    padding: 10px;
    font-size:2em;
  }
  
  .styleVideoFrames {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
  }
  
  .videoPlayer {
    border: 2px solid black;
  }
  
  .partner-Video {
    width: 100%;
    height: 50%;
  }
  
  .own-Video {
    width: 50%;
    height:20%;
  }
  
  .mainDiv {
    display: flex;
    justify-content: space-evenly;
  }
  
  .mainDiv-Child {
    flex: 1;
  }
  
  .video-Div {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .partner {
    margin-top: 10%;
  }
  
  .user {
    margin-top: 4%;
  }
  
  .make-center {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  